page-about {
    .css-inbox {
        border-radius:15px;
        padding-left:20px;
        padding-right:20px;
    }
    .logo-css {
        height:120px;
        width:200px;
        margin-top:40px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 10px;
    }
    .css-content {
        background-color:black;
        
    }

}
