page-about {
    .css-inbox {
        border-radius:15px;
        padding-left:20px;
        padding-right:20px;
    }
    .logo-css {
        height:200px;
        width:300px;
        margin-top:50px;
        margin-left:auto;
        margin-right:auto;
    }
    .css-content {
        background-color:black;
    }

}
