.background {
    background-image: url('../assets/img/Login-image.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
p {
    color: white;
}
// warna untuk latar input
.item.item-input {
    background-color: rgba(0,0,0,0.2);
    border-radius: 15px;
}
.listing {
    padding-top: 150px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.forms {
    border: solid 0.3px grey;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.6);
    margin-top: 10px;
    position: relative;
}
.border-bottom {
    border-bottom: solid 0.3px grey;
    margin-left: auto;
    margin-right: auto;

}
.border-bottom2 {
    margin-left: auto;
    margin-right: auto;
}
div::-moz-placeholder, img, ion-label {
  color: grey;
  text-align: center;
  font-size: 24px;
}

div.ms-input-placeholder {
  color: grey;
  text-align: center;
  font-size: 24px;
}
div::-webkit-input-placeholder {
  color: grey;
  text-align: center;
  font-size: 24px;
}
