.listing {
    margin-top: 50px;
}
.a {
  background-color:#000;
}
// time picker
ion-datetime {
    text-align: left;
    font-size: 20px;
    margin-left: -10px;
}
ion-item {
  // margin-left: 20px;
  border-radius:15px;
  background-color: rgba(0,0,0,0.1);
}
.color {
  color:#FFF;
  font-size: 20px;
}
ion-input {
  color: #fff;
}
.css-item {
  background-color: rgba(255,255,255,0.15);
}
ion-label {
  padding-left: 5px;
}
// warna untuk place holder
.text-input::-moz-placeholder, img, ion-label {
  color: white;
  text-align: left;
  font-size: 20px;
}

.text-input:-ms-input-placeholder {
  color: white;
  text-align: left;
}
.text-input::-webkit-input-placeholder {
  color: white;
  text-align: left;
}