<ion-slides class="a">
  <ion-slide>
    <ion-header>
      <ion-toolbar color="blacks">
        <ion-buttons left>
          <button ion-button icon-only (click)="backButton()">
        <img class="css-image" src="assets/img/arrow-left-back.png">
      </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <form #signupForm="ngForm" novalidate>
      <div class="xyz">
        <ion-input [(ngModel)]="user.name" name="name" type="text" placeholder="NAMA"></ion-input>
        <ion-input [(ngModel)]="user.email" name="email" type="email" placeholder="EMAIL"></ion-input>
        <ion-input [(ngModel)]="user.hp" name="hp" type="text" placeholder="HP"></ion-input>
      </div>
      <ion-label class="xxx" (click)="presentMenuGender()">{{value}}</ion-label>
      <ion-list *ngIf="showGender">
        <div class="css-gender">
          <ion-row>
            <ion-col>
              <img class="gas-img1" src="assets/img/Register-icon-gender-female.png" (click)="functGender('Wanita')">
            </ion-col>
            <ion-col>
              <img class="gas-img2" src="assets/img/Register-icon-gender-male.png" (click)="functGender('Pria')">
            </ion-col>
          </ion-row>
        </div>
      </ion-list>
    </form>
    <ion-label class="xxx" (click)="presentMenuLahir()">{{valueBirthday}}</ion-label>
    <div *ngIf="showLahir" class="parent-css-lahir">
      <div class="css-lahir">
        <ion-row>
          <ion-col class="date">
            <ion-datetime displayFormat="DD/MMM/YYYY" [(ngModel)]="dates.tahuns" placeholder="DD/MMM/YYY"></ion-datetime>
          </ion-col>
          <ion-col class="date2" col-4>
            <div class="gas-img-lahir">
              <img src="assets/img/Register-icon-check-list-green.png" (click)="functBorn()">
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <form #signupForm="ngForm" novalidate>
      <ion-label class="xxx" (click)="presentMenuStatus()">{{valuestatus}}</ion-label>
      <ion-list *ngIf="showStatus">
        <div class="parent-css-status">
          <div class="css-status">
            <ion-row>
              <ion-col>
                <img class="gas-img-status" src="assets/img/Register-icon-status-single.png" (click)="functNikah('Single')">
                <ion-label class="css-status-label">Single</ion-label>
              </ion-col>
              <ion-col>
                <img class="gas-img-status" src="assets/img/Register-icon-status-married.png" (click)="functNikah('Married')">
                <ion-label class="css-status-label">Married</ion-label>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-list>
    </form>
    <ion-label class="xxx" (click)="presentMenuDomisili()">{{valueDomisili}}</ion-label>
    <div *ngIf="showDomisili" class="css-domisili">
      <ion-searchbar [(ngModel)]="searchDomisili" (ionInput)="getDomisili($event)"></ion-searchbar>
      <ion-list *ngFor="let domisil of domisili">
        <p class="doms" (click)="functDomisili(domisil.kota)">{{domisil.kota}}</p>
      </ion-list>
    </div>
    <br><br><br>
    <img style="height:50px;width:30px;" (click)="goToSlide1()" src="assets/img/arrow-right.png">
    <!--<ion-input [(ngModel)]="user.gender" name="gender" type="text" placeholder="PRIA/WANITA"></ion-input>-->
    <!-- <ion-item class="ions">
        <ion-select type="text" name="gender" class="ions2-select" placeholder="PRIA/WANITA" [(ngModel)]="user.gender">
          <ion-option value="Pria">PRIA</ion-option>
          <ion-option value="Wanita">WANITA</ion-option>
        </ion-select>
    </ion-item> -->

    <!-- <ion-item class="ions">
        <ion-datetime class="ions2-select" placeholder="TGL LAHIR" [(ngModel)]="user.birthdate" displayFormat="YYYY/MM/DD" pickerFormat="YYYY MM DD"></ion-datetime>
      </ion-item> -->
    <!-- <ion-label style="border:white" (click)="presentMenuLahir()">TGL LAHIR</ion-label>
      <ion-label style="border:white" (click)="presentMenuStatus()">STATUS</ion-label> -->
    <!-- <ion-item class="ions">
        <ion-select type="text" name="status_kawin" class="ions2-select" placeholder="STATUS" [(ngModel)]="user.status_kawin">
          <ion-option value="Pria">SINGLE</ion-option>
          <ion-option value="Married">MARRIED</ion-option>
        </ion-select>
    </ion-item> -->
    <form #signupForm="ngForm" novalidate>
      <!--<ion-input [(ngModel)]="user.status_kawin" name="status_kawin" type="text" placeholder="STATUS"></ion-input>-->
      <!-- <ion-input [(ngModel)]="user.domisili" name="domisili" type="text" placeholder="DOMISILI"></ion-input> -->
    </form>
  </ion-slide>
  <ion-slide>
    <ion-header>
      <ion-toolbar color="blacks">
        <ion-buttons left>
          <button ion-button icon-only (click)="goToSlide0()">
                <img class="css-image" src="assets/img/arrow-left-back.png">
              </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-label stacked>Buat Password</ion-label>
    <br>
    <ion-input [(ngModel)]="user.password" name="password" type="password" placeholder="PASSWORD"></ion-input>

    <br><br><br>
    <img style="height:50px;width:30px;" (click)="onSignup(signupForm)" src="assets/img/arrow-right.png">

  </ion-slide>
</ion-slides>