page-statusnikah {
    .css-padding {
        background-color: black;
    }
    .css-img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
    }
    ion-col {
        margin-left: auto;
        margin-right: auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
    }
    ion-label {
        color:white;text-align:center;font-size: 14px;padding-right: 14px;
    }
    .gas-img {
        width: 135px;
        height: 135px;
    }
}
