page-feedback {
    .blacks {
        background-color: #000;
    }
    .white {
        background-color: #fff;
        border-radius: 10px
    }
    .label {
        color:black;
        font-size: 14px;
    }
}
