page-product-detail {
    
    
    button {
        color:red;
    }
    .css-card, {
        padding-top: 30px;
        margin-top:20px;
        border-radius: 5px;
        background-color: white;
        height: 400px;
        width:230px;
        margin-left: auto;
        margin-right: auto;
    }
    .btn-css {
        background-color: white;
        border-radius: 5px;
        height: auto;
        width:230px;
        margin-left: auto;
        margin-right: auto;
    }
    button {
        font-family:red;
    }
}
     .speaker-detail {
        background-color: #000;
    }