<ion-header>
    <ion-navbar color="blacks-trans">
        <ion-buttons left>
            <button ion-button (click)="backButton()">Cancel</button>
        </ion-buttons>
        <!--<ion-buttons left>
        <button  (click)="backButton()" ion-button icon-only>
            <img class="circle-top-left"  src="assets/img/Menu-double-circle-top-left.png">
        </button>
        </ion-buttons>
        -->
    </ion-navbar>
    <ion-navbar color="blacks-trans">     
        <ion-searchbar [(ngModel)]="query" (ionInput)="getItems($event)"></ion-searchbar>
    </ion-navbar>
        <ion-list *ngIf="showList">
          <div class="popupsearch">
            <p (touchstart)="cari('gas_station')" class="p-popup">SPBU</p>
            <p (touchstart)="cari('car_rental')" class="p-popup">BENGKEL</p>
            <p (touchstart)="cari('car_dealer')" class="p-popup">DEALER</p>
            <p (touchstart)="cari('police')" class="p-popup">POS POLISI</p>
            <p (touchstart)="cari('hospital')" class="p-popup">RUMAH SAKIT</p>
          </div>
        </ion-list>
     <!--<ion-segment>
        <ion-segment-button value="SPBU" (ionSelect)="cari('gas_station')">
            SPBU
        </ion-segment-button>
        <ion-segment-button value="BENGKEL" (ionSelect)="cari('car_rental')">
            BENGKEL
        </ion-segment-button>
        <ion-segment-button value="RUMAH SAKIT" (ionSelect)="cari('hospital')">
            RUMAH SAKIT
        </ion-segment-button>
      </ion-segment>-->
</ion-header>
 
 
<ion-content>
 
    <div #pleaseConnect id="please-connect">
        <p>Please connect to the Internet...</p>
    </div>
 
    <div #map id="map">
    </div>
    <br>
    <div id="listnya">
    <ion-list>
        <ion-item class="css-item" *ngFor="let place of locations" (touchstart)="selectPlace(place)">
            <ion-row>
            <ion-col>
                <p><b>{{place.name}}</b></p>
                <p>{{place.alamat}}</p>
            </ion-col>
            <ion-col>
                <p style="text-align:right">{{place.distance}} m</p>
            </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    </div>
</ion-content>