page-inbox {
    .css-content {
        background-color: #dfe3ee;
    }
    .css-inbox {
        border-radius: 10px;
        background-color: #fff;
        height: 100px;
    }
    img.css-img {
        height: 75px; width:90px;
    }
    ion-col.css-col2 {
        padding-left: 15px;
        
    }
}
