page-inbox {
    .css-content {
        background-color: #dfe3ee;
    }
    .css-inbox {
        border-radius: 10px;
        background-color: #fff;
        height: 100px;
    }
    .css-img {
        height: 75px; width:80px;
    }
}
