page-inbox {
    .css-content {
        // background-color: #dfe3ee;
        background-color: black;
    }
    .css-inbox {
        border-radius: 10px;
        background-color: #fff;
        height: 100px;
    }
    img.css-img {
        height: 75px; width:90px;
    }
    ion-col.css-col2 {
        padding-left: 15px;
        
    }
    
    .css-image {
        margin-left: 30px;
        height: 30px;
        width: 20px;
    }
}
