.bg {
    background-image: url('../assets/img/Home-image-Cover.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.list {
    margin-top: 180px;
}
ion-label.text {
    text-align: center;
    color: #000;
}
.black {
    background-color: #000;
}
div.swiper-pagination {
   top:3px;
   bottom:inherit;
       margin: 0.1px;

}
.swiper-pagination-bullet {
    background-color: rgba(255,255,255,0.8);
    height: 5px;
    width: 18px;
}
.scroll-y-slide2 {
    margin-top: 80px;
    height:420px;
    width:auto;
    overflow:auto;

} 
.scroll-y-slide3 {
    width:auto;
    height: 500px;
    overflow:auto;
}
.content-slide3 {
    height: 500px;
} 
.scroll-y-slide4 {
    height:550px;
    width:auto;
    overflow:auto;
} 
.content-slide4 {
    height: 300px;
}
.img-slide4 {
    width: 100%;
}
p, h1 {
    text-align: left;
}
 .swiper-pagination-progress .swiper-pagination-progressbar {
  background:red;
  margin: 3px;

}
.logoHaikers {
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cards {
    background:transparent;
    height: auto;
    width: auto;
}
.card-detail {
    background : #fff;
    padding : 10px 15px; 
    border-radius: 10px;
}
button.btn-color {
    background-color: #149f35;
}
.card-image {
    max-height: 50%;
    max-width: 60%;
}

// GOOGLE MAPS
page-home {
   
    #please-connect {
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #please-connect p {
      color: #fff;
      font-weight: bold;
      text-align: center;
      position: relative;
      font-size: 1.6em;
      top: 30%;
  }


  #map {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}
}

//-------------------