  <ion-slides pager="true" loop control direction="horizontal"  class="bg"  paginationType="progress">
    <!--SLIDE HOME-->
    <ion-slide>

      <img class="logoHaikers" src="assets/img/Home-logo-Haikers.png">
      <ion-list class="list">
        <button ion-button full (click)="regisAccount()" ion-button icon-only round color="grays">EXHIBITION</button>
        <button ion-button full (click)="regisAccount()" ion-button icon-only round color="grays">MEET & GREET</button>
        <button ion-button full (click)="regisAccount()" ion-button icon-only round color="grays">MOTOVLOGGER</button>
        <button ion-button full (click)="regisAccount()" ion-button icon-only round color="grays">BAZAR APPAREL</button>

      </ion-list>
      <br>
      <ion-label>MORE INFO</ion-label>      
      <ion-label><img (click)="moreInfo()" src="assets/img/Arrow-bottom-down.png"></ion-label>
    </ion-slide>
    <!--SLIDE BEST DEALS-->
    <ion-slide class="black">
      <ion-header>
        <ion-navbar color="blacks">
          <ion-label>Best Deals</ion-label>
            <ion-searchbar  [(ngModel)]="searchCountryString" (input)="searchCountry($event)"
                    [showCancelButton]="shouldShowCancel" [showCancelButton]="shouldShowCancel"
                            (ionCancel)="onCancel($event)">
            </ion-searchbar>
        </ion-navbar>
      </ion-header>
      <div class="scroll-y">
          <ion-row>
            <ion-col col-6 *ngFor="let card of cards" class="cards">
              <div class="card-detail">
                <img style="height:200px;" class="card-image" [src]="card.image">
                <ion-label class="text" [innerHTML]="card.merk"></ion-label>
                <ion-label class="text" [innerHTML]="card.harga"></ion-label>
                <button class="btn-color" ion-button>Pre Order</button>
              </div>
            </ion-col>
          </ion-row>  
      </div>

    </ion-slide>
    
    <!--SLIDE DUCATI DIAVEL-->
    <ion-slide  class="black">
      <ion-header>
        <ion-navbar color="blacks">
            <ion-searchbar  [(ngModel)]="searchCountryString" (input)="searchCountry($event)"
                    [showCancelButton]="shouldShowCancel" [showCancelButton]="shouldShowCancel"
                            (ionCancel)="onCancel($event)">
            </ion-searchbar>
        </ion-navbar>
      </ion-header>
      <div class="card-scroll-y" >
        <ion-card *ngFor="let bike of bikes">
          <img [src]="bike.image"/>
          <ion-card-content>
            <p [innerHTML]="bike.description"></p>
          </ion-card-content>
          <img [src]="bike.image2"/>
          <img [src]="bike.image2"/>
        </ion-card>
      </div>
    </ion-slide>
    <!--SLIDE EDITOR REVIEWS-->
    <ion-slide class="black">
      <h1>EDITOR REVIEWS</h1>
      <div padding class="card-scroll-y">
        <ion-card *ngFor="let review of reviews">
        <ion-card-content padding>
        <ion-slides pager="true" paginationType="progress" control loop>
          <ion-slide>
          <img [src]="review.image2"/>
          </ion-slide>
          <ion-slide>
          <img [src]="review.image2"/>
          </ion-slide>
        </ion-slides>
        </ion-card-content>
          <ion-card-content>
            <p [innerHTML]="review.description"></p>
          </ion-card-content>
          <img [src]="review.image2"/>
          <img [src]="review.image2"/>
        </ion-card>
      </div>
    </ion-slide>

    <!--MAPS-->
    <ion-slide>
      <ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button (click)="close()">Cancel</button>
        </ion-buttons>
        <ion-buttons right>
            <button [disabled]="saveDisabled" ion-button (click)="save()">Save</button>
        </ion-buttons>
    </ion-navbar>
 
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="query" (ionInput)="searchPlace()"></ion-searchbar>
    </ion-toolbar>
 
    <ion-list>
        <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">{{place.description}}</ion-item>
    </ion-list>
 
</ion-header>
 
<ion-content>
 
    <div #pleaseConnect id="please-connect">
        <p>Please connect to the Internet...</p>
    </div>
 
    <div #map id="map">
        <ion-spinner></ion-spinner>
    </div>
 
</ion-content>
    
    </ion-slide>
  </ion-slides>
  