  <ion-slides control pager="true" (ionSlideDidChange)="slideChanged()" paginationType="bullets" class="black">
    <!--SLIDE HOME SLIDE 1-->
    <ion-slide>
      <ion-header>
        <ion-toolbar color="blacks-trans">
          <ion-buttons left>
            <button  (click)="presentMenu()" ion-button icon-only>
              <img class="circle-top-left"  src="assets/img/Menu-double-circle-top-left.png">
            </button>
          </ion-buttons>
        </ion-toolbar>
          <img class="logoHaikers" src="assets/img/Home-logo-Haikers2.png">
      </ion-header>
      <div class="bg">
        <div>
          <div class="sliding1">
            <!--<div class="header-list">
              <button ion-button medium full (click)="goToSlide1()" color="grays">EXHIBITION</button>
              <button ion-button medium full (click)="goToSlide2()" color="grays">MEET & GREET</button>
              <button ion-button medium full (click)="goToSlide3()" color="grays">MOTOVLOGGER</button>
              <button ion-button medium full (click)="goToSlide4()" color="grays">BAZAR APPAREL</button>
            </div>
            <br>
            <ion-label class="text-more">MORE INFO</ion-label>      -->
            <div class="imageee">
              <img src="assets/img/Home-image-Cover.jpg">
              <img src="assets/img/Home-image-About-Event.jpg">
              <img src="assets/img/Home-image-Exhibition.jpg">
              <img src="assets/img/Home-image-Meet-Greet-Vlogger.jpg">
              <img src="assets/img/Home-image-Bazaar.jpg">
              <img src="assets/img/Home-image-RoundDown.jpg">           
              <img src="assets/img/MediaPartner-List.jpg">
            </div>
            <!--<div>
              <ion-card class="brown">
                <ion-card-header class="card-rundown">
                  <img class="card-rundown" src="assets/img/Home-icon-Round-Down.png">
                  <h1 class="center">RUNDOWN</h1>
                </ion-card-header>

                <!-- Loops through and creates multiple items
                <ion-card-content ng-model="date" class="css-rundown">
                  {{date | date:'EEEE, dd MMMM yyyy'}}
                </ion-card-content>
                <ion-card-content *ngFor="let rundown of rundowns" class="css-rundown">
                  {{rundown.day_start}} - {{rundown.day_end}} {{rundown.name}}
                </ion-card-content>
                <ion-card-content>
                  <ion-row>
                    <img class="cssImg-location" src="assets/img/margocity2.jpg" (click)="goToLocation()">
                    <img class="cssImg-location" src="assets/img/margocity1.jpg" (click)="goToLocation()">
                  </ion-row>
                  <ion-label style="text-align:center;color:grey">FIND US @ MARGO CITY</ion-label>
                  <ion-label style="text-align:center;font-size:12px;color:grey">Jl. Margonda Raya No. 358.</ion-label>
                  <ion-label style="text-align:center;font-size:12px;color:grey">Depok 16432</ion-label>
                </ion-card-content>
              </ion-card>          
              <img src="assets/img/MediaPartner-List.jpg">
            </div>-->
          </div>
        </div>
      </div>
    </ion-slide>
    
    <!--SLIDE BEST DEALS SLIDE 2-->
    <ion-slide class="black" initialSlide="1">
      <ion-header>
        <ion-toolbar color="blacks-trans">
          <ion-buttons left>
            <button  (click)="presentMenu()" ion-button icon-only>
            <!--<button  (click)="presentPopover($event)" ion-button icon-only>-->
              <img class="circle-top-left"  src="assets/img/Menu-double-circle-top-left.png">
            </button>
          </ion-buttons>

        </ion-toolbar>
        <!--
        <ion-toolbar color="blacks-trans">     
          <div class="css-select4">
              <ion-select #d (ionChange)="onProductChange(d.value)" class="select-slide3" placeholder="All">
                  <ion-option value="all">All</ion-option>
                  <ion-option value="helmet">Helmet</ion-option>
                  <ion-option value="jacket">Jacket</ion-option>
                  <ion-option value="golve">Golve</ion-option>
                  <ion-option value="shoes">Shoes</ion-option>
                  <ion-option value="tshirt">T Shirt</ion-option>
                  <ion-option value="accesories">Accesories</ion-option>
              </ion-select>
          </div>
        </ion-toolbar>
        -->
        <ion-toolbar color="blacks-trans">     
          <ion-label class="css-label-bestdeal">BEST DEAL</ion-label>
          <ion-searchbar [(ngModel)]="searchTermProduct" (ionInput)="getItemsForProduct($event)"></ion-searchbar>
        </ion-toolbar>
        <ion-list *ngIf="showList">
          <!--<ion-item *ngFor="let product of products" (touchstart)="selectProduct(productss)"><p>{{product.name}}<p></ion-item>-->
          <div class="popupsearch">
            <p (touchstart)="selectProduct('all')" class="p-popup">All</p>
            <p (touchstart)="selectProduct('helmet')" class="p-popup">Helmet</p>
            <p (touchstart)="selectProduct('jacket')" class="p-popup">Jacket</p>
            <p (touchstart)="selectProduct('glove')" class="p-popup">Glove</p>
            <p (touchstart)="selectProduct('shoes')" class="p-popup">Shoes</p>
            <p (touchstart)="selectProduct('tshirt')" class="p-popup">T shirt</p>
            <p (touchstart)="selectProduct('accessories')" class="p-popup">Accessories</p>
            <p (touchstart)="selectProduct('nolan')" class="p-popup">Nolan</p>
          </div>
      </ion-list>
      </ion-header>   
      <ion-label class="css-separator"></ion-label>
      <div class="scroll-y-slide2">
          <ion-row>
            <ion-col *ngFor="let product of products"  col-6 class="cards">
              <div   class="card-detail">
                <img style="height:120px;" class="card-image" src="http://188.166.188.11{{product.picture}}">
                <ion-label  class="text">{{ product.name }}</ion-label>
                <ion-label  class="text">IDR {{ product.price}}</ion-label>
                <button class="btn-color" ion-button (click)=" goToProductDetail(product)">Pre Order</button>
              </div>
            </ion-col>
          </ion-row>  
      </div>

    </ion-slide>
    
    <!--SLIDE BIKES SLIDE 3-->
    <ion-slide  class="black">
      <ion-header>
        <ion-toolbar color="blacks-trans">
          <ion-buttons left>
            <button  (click)="presentMenu()" ion-button icon-only>
              <img class="circle-top-left"  src="assets/img/Menu-double-circle-top-left.png">
            </button>
          </ion-buttons>
        </ion-toolbar>
        
        <ion-toolbar color="blacks-trans">     
          <!--<ion-title style="text-align:center">Bikes</ion-title>-->
            <ion-searchbar [(ngModel)]="searchTermBike" (ionInput)="getItemsForBike($event)"></ion-searchbar>
          <ion-list *ngIf="showList">
            <!--<ion-item *ngFor="let product of products" (touchstart)="selectProduct(productss)"><p>{{product.name}}<p></ion-item>-->
            <div class="popupsearch">
              <p (touchstart)="selectBike('ducatidiavel')" class="p-popup">DUCATI DIAVEL</p>
              <p (touchstart)="selectBike('yamahar6')" class="p-popup">YAMAHA R6</p>
              <p (touchstart)="selectBike('kawasakier6n')" class="p-popup">KAWASAKI ER-6n</p>
              <p (touchstart)="selectBike('ktmduke660')" class="p-popup">KTM DUKE 660</p>
              <p (touchstart)="selectBike('benellibn600')" class="p-popup">BENELLI BN600</p>
              <p (touchstart)="selectBike('suzukivstorm650')" class="p-popup">SUZUKI V-STORM 650</p>
              <p (touchstart)="selectBike('kawasakizx6r')" class="p-popup">KAWASAKI ZX-6R</p>
              <p (touchstart)="selectBike('ninja650abs')" class="p-popup">NINJA 650 ABS</p>
              <p (touchstart)="selectBike('ktm690smc')" class="p-popup">KTM 690 SMC</p>
              <p (touchstart)="selectBike('bmwg650s')" class="p-popup">BMW G 650S</p>
              <p (touchstart)="selectBike('ktm690eduro')" class="p-popup">KTM 690 Enduro</p>
            </div>
          </ion-list>

          <!--<div class="css-select4">
              <ion-select #C (ionChange)="onChange(C.value)" class="select-slide3" placeholder="DUCATI DIAVEL">
                <ion-option value="ducatidiavel">DUCATI DIAVEL</ion-option>
                <ion-option value="yamahar6">YAMAHA R6</ion-option>
                <ion-option value="kawasakier6n">KAWASAKI ER-6n</ion-option>
                <ion-option value="ktmduke660">KTM DUKE 660</ion-option>
                <ion-option value="benellibn600">BENELLI BN600</ion-option>
                <ion-option value="suzukivstorm650">SUZUKI V-STORM 650</ion-option>
                <ion-option value="kawasakizx6r">KAWASAKI ZX-6R</ion-option>
                <ion-option value="ninja650abs">NINJA 650 ABS</ion-option>
                <ion-option value="ktm690smc">KTM 690 SMC</ion-option>
                <ion-option value="bmwg650s">BMW G 650S</ion-option>
                <ion-option value="ktm690eduro">KTM 690 Enduro</ion-option>
              </ion-select>
          </div>-->
        </ion-toolbar>
      </ion-header>
      <ion-label class="css-separator"></ion-label>
      <div class="scroll-y-slide3" >
        <ion-card class="card-slide3" *ngFor="let bike of bikes">
                <img src="http://188.166.188.11{{bike.picture}}">
        </ion-card>
      </div>
    </ion-slide>
    <!--SLIDE EDITOR REVIEWS SLIDE 4-->
    <ion-slide class="black">
      <ion-header>
        <ion-toolbar color="blacks-trans">
          <ion-buttons left>
            <button  (click)="presentMenu()" ion-button icon-only>
              <img class="circle-top-left"  src="assets/img/Menu-double-circle-top-left.png">
            </button>
          </ion-buttons>                  
        </ion-toolbar>
      </ion-header>
    
      <ion-label class="css-editor-review">EDITOR REVIEWS</ion-label>
      <div class="scroll-y-slide4">
        <ion-card class="border-radius"  *ngFor="let review of reviews">
          <div class="img-slide4">
          <ion-slides pager="true" paginationType="bullets">
              <ion-slide>
                <img   class="css-img-slide4" src="http://188.166.188.11{{review.picture}}"/>
              </ion-slide>
              <ion-slide  class="css-img-slide4">
                <img src="http://188.166.188.11{{review.picture}}"/>
              </ion-slide>
              <ion-slide  class="css-img-slide4">
                <img src="http://188.166.188.11{{review.picture}}"/>
              </ion-slide>
            </ion-slides>            
          </div>
          <div class="content-slide4">
            <ion-card-content>
              <h2>{{review.name}}</h2>
              <p class="text" style="font-size:9px" >{{review.created_at | date:'EEEE, dd MMMM yyyy'}}</p>
              <div class="css-readmore">
                <p>{{review.description}}</p>
              </div>
              <p style="font-style: italic;text-align:right;" (click)="goToReviewDetail(review)">more</p>
            </ion-card-content>
          </div>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>
