.bg {
    // background-image: url('../assets/img/Home-image-Cover.jpg');
    // background-repeat: no-repeat;
    width: auto;
    height:800px;
    overflow:auto;
}
.bg2 {
    background-image: url('../assets/img/Home-image-Exhibition.jpg');
    background-repeat: no-repeat;
    width: auto;
    height:400px;
}
.black {
    color:black;
}
.imageee {
    margin-top: 80px;
}
.p-popup {
    text-align:center;
    border-bottom:solid 0.1px rgba(200,200,200,0.8) ;
    color: grey;
    height: 30px;
}
.popupsearch {
    height: auto;
    padding-bottom: 0.1px;
    width:200px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

}
img.cssImg-location {
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: solid grey;
}
.brown {
    background-color:  	#ece8e8;
    padding-bottom:15px;
}
h1.center {
    color:  	#909090;
}

.img-center {
    display: block;
    margin: 0 auto;
    background-size: 100%;
}
.card-rundown {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:  	#909090;
}
.css-rundown {
    text-align: left;
    color:  	#909090;
    border-bottom: solid 1px;
    border-bottom-color: #909090; 
}
.sliding1 {
    // margin-top: 170px;
}

.header-list {
    margin-top: 15px;
    width:200px;
    margin-left: auto;
    margin-right: auto;
}
img.circle-top-left {
    height: 10px;
    width: 25px;
    margin-left: 7px;
}

.white {
    color: whitesmoke;
    margin: 50px 25px ;
}
ion-select, ion-option {
    text-align: center;
    color: whitesmoke;

}
ion-label.text {
    text-align: center;
    color: #000;
    margin-top: -10px;
    font-size: 14px;
}

ion-label.text-more {
    text-align: center;
}
.black {
    background-color: #000;
}
// pager punya global
ion-slides .swiper-pagination {
   top:14px;
   bottom:inherit;
   margin: 0.1px;
}
ion-slides .swiper-pagination-bullet {
    background-color: rgba(255,255,255,0.8);
    height: 5px;
    width: 18px;
}
// close -------------
.css-label-bestdeal {
    text-align:center;
    font-size:35px;
    margin-bottom:-2px;
    margin-top:-11px;
    font-family: sans-serif;
    color: white;
}
.scroll-y-slide2 {
    margin-top: 100px;
    width:auto;
    height: 500px;
    overflow:auto;
    background-color: #000;
} 
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
.scroll-y-slide3 {
    margin-top: 120px;
    width:auto;
    height: 550px;
    overflow:auto;
    background-color: #000;
}
.css-imgslide3 {
    height: 300px;
    background-color: black;
}
.card-slide3 {
    height: auto;
    background-color: blue;
} 
.card-contentslide3 {
    height: auto;
    background-color: #000;   
}

.css-select4 {
    margin-left: 10px;
 }
ion-select {
   max-width: 100% !important;
   width: 100% !important;
   border: solid grey 1px;
   border-radius: 15px;
   
}
.searchbar-search-icon {
background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='fff'%20d='M337.509,305.372h-17.501l-6.571-5.486c20.791-25.232,33.922-57.054,33.922-93.257C347.358,127.632,283.896,64,205.135,64C127.452,64,64,127.632,64,206.629s63.452,142.628,142.225,142.628c35.011,0,67.831-13.167,92.991-34.008l6.561,5.487v17.551L415.18,448L448,415.086L337.509,305.372z%20M206.225,305.372c-54.702,0-98.463-43.887-98.463-98.743c0-54.858,43.761-98.742,98.463-98.742c54.7,0,98.462,43.884,98.462,98.742C304.687,261.485,260.925,305.372,206.225,305.372z'/></svg>") !important;
margin-left:300px;
}

.searchbar-md .searchbar-input {
color: #fff;
}
.select-slide3 {
    text-align: center;
}
p.color {    
    padding: 10px;
    color: #fff;
}
.scroll-y-slide4 {
    margin-top: -20px;
    padding: 0px;
    height:550px;
    width:auto;
    overflow:auto;  
}
.border-radius {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border:solid 3px grey;

}
// pager punya review
ion-card ion-slides .swiper-pagination {
   top:270px;
   bottom:inherit;
   margin: 0.1px;
}
ion-card ion-slides .swiper-pagination-bullet {
    background-color: grey;
    height: 10px;
    width: 10px;
    
}
// close --------------
.sliderPage4 {
    max-height:600px;
}
.content-slide4 {
    height: 180px;
}
.css-img-slide4 {
    margin-top:-39px;
    margin-left: 1px;
    margin-right: auto;
}
.img-slide4 {
    height: 300px;
}
.css-editor-review {
    text-align:center;
    font-size:35px;
    margin-top:70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.css-separator {
    margin-top:10px;
    margin-bottom:10px;
}

p, h2 {
    text-align: left;
}
ion-card div ion-card-content div p{
    height: 85px;
    overflow:hidden;
}
//  .swiper-pagination-progress .swiper-pagination-progressbar {
//   background:red;
//   margin: 3px;
// }
img.logoHaikers {
    width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:-3px;
    margin-bottom: 5px;
}
.cards {
    background:transparent;
    height: auto;
    width: auto;
    
}
.card-detail {
    background : #fff;
    padding : 10px 15px; 
    border-radius: 10px;
}
button.btn-color {
    background-color: #149f35;
    border-radius: 7px;
    font-family: sans-serif;
}
.card-image {
    max-height: 50%;
    max-width: 60%;
}
//-------------------