  <ion-slides control pager="true" paginationType="bullets" class="black">
    <!--SLIDE HOME SLIDE 1-->
    <ion-slide>
      <ion-header>
        <ion-toolbar color="blacks-trans">
          <ion-buttons left>
            <button  (click)="presentMenu()" ion-button icon-only>
              <img class="circle-top-left"  src="assets/img/Menu-double-circle-top-left.png">
            </button>
          </ion-buttons>
         
        </ion-toolbar>
        <ion-toolbar  color="blacks-trans">
        <img class="logoHaikers" src="assets/img/Home-logo-Haikers2.png">
        </ion-toolbar>
      </ion-header>

      <div class="bg">
        <div>
          <div class="header-list">
            <button ion-button medium full (click)="goToSlide4()" color="blacks-trans">EXHIBITION</button>
            <button ion-button medium full (click)="regisAccount()" color="dark">MEET & GREET</button>
            <button ion-button medium full (click)="regisAccount()" color="grays">MOTOVLOGGER</button>
            <button ion-button medium full (click)="regisAccount()" color="grays">BAZAR APPAREL</button>
            <button ion-button medium full (click)="logout()" color="grays">Logout</button>
          </div>
        <br>
        <ion-label class="text-more">MORE INFO</ion-label>      

          <div class="black">
            <p class="white">Hikers (Hai Bikers!) adalah suatu event inovatif yang di kemas secara unik dan menarik. Mulai dari menjual apparel motor standart hingga premium, pameran motor sport, serta meet and greet youtuber ( Motovlogger ), medsos uploader, serta doorprize!</p>
            <br>
            <img src="assets/img/Home-image-Exhibition.jpg">
            <img src="assets/img/Home-image-Meet-Greet-Vlogger.jpg">
            <img src="assets/img/Home-image-Bazaar.jpg">
            <ion-list>
              <ion-list-header class="brown">
                <h2>RUNDDOWN</h2>
              </ion-list-header>

              <!-- Loops through and creates multiple items -->
              <ion-item-divider *ngFor="let rundown of rundowns">
                {{rundown.day_start}}
                {{rundown.day_end}}
                {{rundown.name}}
              </ion-item-divider>

            </ion-list>
              <img src="assets/img/MediaPartner-List.jpg">
          </div>
          <div>
          </div>
        </div>

      </div>
    </ion-slide>
    <!--SLIDE BEST DEALS SLIDE 2-->
    <ion-slide class="black">
      <ion-header>
        <ion-toolbar color="blacks-trans">
          <ion-buttons left>
            <button  (click)="presentMenu()" ion-button icon-only>
              <img class="circle-top-left"  src="assets/img/Menu-double-circle-top-left.png">
            </button>
          </ion-buttons>
        </ion-toolbar>
        <ion-toolbar color="blacks-trans">     
          <ion-title>Best Deals</ion-title>
            <ion-searchbar  [(ngModel)]="searchCountryString" (input)="searchCountry($event)"
                    [showCancelButton]="shouldShowCancel" [showCancelButton]="shouldShowCancel"
                            (ionCancel)="onCancel($event)">
            </ion-searchbar>
        </ion-toolbar>
      </ion-header>
      <div class="scroll-y-slide2">
          <ion-row>
            <ion-col *ngFor="let product of products"  col-6 class="cards">
              <div   class="card-detail">
                <img style="height:200px;" class="card-image" src="http://188.166.188.11{{product.picture}}">
                <ion-label  class="text">{{ product.name }}</ion-label>
                <ion-label  class="text">IDR {{ product.price}}</ion-label>
                <button class="btn-color" ion-button (click)=" goToProductDetail(product)">Pre Order</button>
              </div>
            </ion-col>
          </ion-row>  
      </div>

    </ion-slide>
    
    <!--SLIDE BIKES SLIDE 3-->
    <ion-slide  class="black">
      <ion-header>
        <ion-toolbar color="blacks-trans">
          <ion-buttons left>
            <button  (click)="presentMenu()" ion-button icon-only>
              <img class="circle-top-left"  src="assets/img/Menu-double-circle-top-left.png">
            </button>
          </ion-buttons>
        </ion-toolbar>
        <ion-toolbar color="blacks-trans">
            <ion-item  color="blacks-trans">
              <ion-label></ion-label>
              <ion-select [(ngModel)]="gaming" placeholder="PILIH JENIS MOTOR">
                <ion-option text-center value="nes">DUCATI DIAVEL</ion-option>
                <ion-option text-center value="n64">BIKE A</ion-option>
                <ion-option text-center value="ps">BIKE B</ion-option>
                <ion-option text-center value="genesis">BIKE C</ion-option>
                <ion-option text-center value="saturn">BIKE D</ion-option>
              </ion-select>
            </ion-item>
        </ion-toolbar>
      </ion-header>
      <div class="scroll-y-slide3" >
        <ion-card class="content-slide3" *ngFor="let bike of bikes">
          <img src="http://188.166.188.11{{bike.picture}}"/>
          <ion-card-content>
            <p>{{bike.description}}</p>
          </ion-card-content>
          <img src="http://188.166.188.11{{bike.picture}}"/>
        </ion-card>
      </div>
    </ion-slide>
    <!--SLIDE EDITOR REVIEWS SLIDE 4-->
    <ion-slide class="black">
      <ion-header>
        <ion-toolbar color="blacks-trans">
          <ion-buttons left>
            <button  (click)="presentMenu()" ion-button icon-only>
              <img class="circle-top-left"  src="assets/img/Menu-double-circle-top-left.png">
            </button>
          </ion-buttons>
         
         <ion-title style="text-align:center;">EDITOR REVIEWS</ion-title>
        </ion-toolbar>
      </ion-header>

      <div class="scroll-y-slide4">
        <ion-card  *ngFor="let review of reviews">
<!--
        <ion-slides pager="true" paginationType="bullets">
          <ion-slide>
          <img [src]="review.image"/>
          </ion-slide>
          <ion-slide>
          <img [src]="review.image"/>
          </ion-slide>
        </ion-slides>-->
          <ion-card-content class="content-slide4">
            <img class="img-slide4" src="http://188.166.188.11{{review.picture}}"/>
            <!--<img [src]="review.picture"/>-->
            <h2>{{review.name}}</h2>
            <p class="text" style="font-size:8px">{{review.created_at}}</p>
            <p class="text">{{review.description}}</p>
            <button ion-button (click)="goToReviewDetail(review)"></button>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-slide>

    <!--MAPS SLIDE 5-->
    <ion-slide>
      <ion-header>
        <ion-toolbar color="blacks-trans">
         <ion-buttons left>
            <button  (click)="presentMenu()" ion-button icon-only>
              <img class="circle-top-left"  src="assets/img/Menu-double-circle-top-left.png">
            </button>
         </ion-buttons>
        </ion-toolbar>
        <ion-toolbar color="blacks-trans">  
            <ion-item  color="blacks-trans">
              <ion-label></ion-label>
              <ion-select [(ngModel)]="gaming" placeholder="PILIH JENIS MOTOR">
                <ion-option text-center value="nes">DUCATI DIAVEL</ion-option>
                <ion-option text-center value="n64">BIKE A</ion-option>
                <ion-option text-center value="ps">BIKE B</ion-option>
                <ion-option text-center value="genesis">BIKE C</ion-option>
                <ion-option text-center value="saturn">BIKE D</ion-option>
              </ion-select>
            </ion-item>
        </ion-toolbar>
      </ion-header>
 
        <ion-content>
        
        </ion-content>
    
    </ion-slide>
  </ion-slides>
  