page-reviews-detail {
.scroll-y-slide4 {
    margin-top: 100px;
    padding: 0px;
    height:auto;
    width:auto;
    margin-left: auto;
    margin-right: auto;

}
.border-radius {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 330px;
    border:solid 3px grey;

}
.content-slide4 {
    height: auto;
}
// .img-slide4 {
//     margin-left: auto;
//     margin-right: auto;
// }

}
