page-menu {
    .card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    ion-label.text {
        text-align: center;
        color: gray;
         margin-top: 10px;
    }
    h1 {
        color: black;
        text-align: left;
    }
    
    .symbol-detail img {
        height: 70px;
        width: 130px;
    }
    .huaaah {
        overflow: auto;
        height: 300px;
    }
}

