page-menu {
    
    ion-label.text {
        text-align: center;
        color: gray;
    }
    h1 {
        color: black;
        text-align: left;
    }
    .symbol-detail img {
        height: 100px;
        width: 130px;
        margin-left: 15px;
        margin-right: 5px;
        margin-top: 0px;
    }
}

